= simple_form_for(@portfolio) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :area
    = f.input :category
    = f.input :ratio

  .form-actions
    = f.button :submit, class: 'btn'
